{
  "env": {
    "development": {
      "presets": [ "@babel/env" ]
    },
    "rollup": {
      "presets": [ ["@babel/env", { "modules": false }] ]
    },
    "jsnext": {
      "presets": [ ["@babel/env", { "modules": false }] ]
    }
  }
}
